# Copy this file to .env and fill in your values
SECRET_KEY=django-insecure-change-me-in-production
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

DB_NAME=bookshelf
DB_USER=postgres
DB_PASSWORD=your_postgres_password_here
DB_HOST=localhost
DB_PORT=5432

GOOGLE_BOOKS_API_KEY=your_google_books_api_key_here

REDIS_URL=redis://localhost:6379/0
